*,
*::before,
*::after {
  font-weight: 500;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  color: #ccc;
  background-color: #f4f4f4;
}

img {
  height: 200px;
  width: 200px;
  background-color: #fff;
  padding: 2.5rem;
  margin: 2rem;
  border-radius: 50%;
}

.link {
  padding: 1rem 2rem;
  color: #fff;
  background-color: #5892FE;
  text-decoration: none;
  font-weight: 100;
  transition: all 0.3s ease-out;
}

.link:hover {
  transform: scale(1.1);
  background-color: #3a6fd4;
}

.link:active {
  transform: scale(0.95);
}